<?xml version="1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ClassList">
    <insert id = "insertClassList">
        insert into CLASSLIST (titleName, professor, section, credits, type, classTime, category, english)
        values (#{titleName}, #{professor}, #{section}, #{credits}, #{type}, #{classTime}, #{category}, #{english})
    </insert>
    <update id = "updateClassList">
        update CLASSLIST
        set titleName=#{titleName} , professor=#{professor}, section=#{section}, credits=#{credits}, type=#{type}, classTime=#{classTime}, category=#{category}, english=#{english}
        where seq=#{seq}
    </update>
    <delete id = "deleteClassList">
        delete from CLASSLIST  where seq=#{seq}
    </delete>
    <select id = "getClassList" resultType = "classList">
        select * from CLASSLIST where seq=#{seq}
    </select>
    <select id = "getClassListList" resultType = "classList">
        select * from CLASSLIST order by seq desc
    </select>
</mapper>